#pic{
  width: 120px;
  height: 120px;
  border: 1px solid rgb(150, 150, 150);
  margin-right: 20px;
  float:left;
}
#pic.p1 {
  background-image: url("images/1");
  background-size: cover;
}
#pic.p2 {
  background-image: url("images/2.png");
}
#pic.p3 {
  background-image: url("images/3.png");
}
#pic.p4 {
  background-image: url("images/4.png");
}